* {
   margin: auto 0;
   padding: 0;
   font-family: Roboto;
   
}

:root {
/* Colors */
   --white-color: #fff;
   --dark-color: #252525;
   --darker-color:rgb(49, 49, 49);
   --primary-color: #e5e5e5;
   --secondary-color: #0984c2;
   --light-blue-color: #8bb4c8;
   --medium-gray-color: #ccc;

   
/* Font size */
   --font-size-s: 0.9rem;
   --font-size-n: 1rem;
   --font-size-m: 1.12rem;
   --font-size-l: 1.5rem;
   --font-size-xl: 2rem;
   --font-size-xxl: 2.3rem;
   
/* Font weight */

}



body {
background: var(--dark-color);
color: var(--white-color);
font-size:16px;
font-family: Roboto;
}
section {
   padding:40px 0;
   
}

p {
    font-size: 1em;
}

h1 {
    font-size:1.7em;
}

h2 {
    font-size:1.2em;

}

h3 {
    font-size:.9em;
}

h4 {
    font-size: .8em;
}
header {
     
    display:flex;
    flex-direction: row;
    text-align: start;
    /*padding:20px 30px;*/
    background-image: url(html-bg.jpg);
    background-position: center;
    background-size: cover;
    height:70vh;
}
.overlay {
    display:flex;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
}
#intro {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
  
}

    nav {
   padding: 10px;
    display: flex;
    text-align: start;
    flex-direction: row;
    }
.logo {
    width:75%;
}
nav a {
        display: block;
        text-transform: uppercase;
        margin-right:5px;
        text-decoration: none;
        padding:5px;
        color:  var(--white-color);
    }
nav a:hover {
        color:var(--secondary-color);
        font-weight: 600;
    }
nav ul li {
        display: inline-block;
        list-style-type: none;
    }
.flex-container {
        display:flex;
        flex-direction: row;
        text-align: start;
        
        
    }
.section-bg {
    background: var(--darker-color);
    
}
.works {
      justify-content: flex-start;
      padding:20px 0;
    }

.works h3 {
        margin-top:10px;
        text-transform: uppercase;
    }
.works p {
        font-size: .8em;
    }

 .items {
        padding:5px;
        width: 33%;
    }

.items img {
    width:100%;
}
.flex-right, .flex-left {
        flex:50%;
       
    }
.flex-left {
    padding-right: 60px;
}
 .profile {
        width:100%;
 }
.full-length {
    max-width:1140px;
    margin: 0 auto;
}

.center-align {
    text-align: center;
}

.contact {
    text-align: center;

}
.contact h2 {
    font-size:2.3em;
    margin-bottom:.5em;
    text-transform: uppercase;
}

.skills {
    width:80px;

}


footer {
    height:100px;
    display: flex;
}
/* Responsiveness 
@media (min-width: 1200px) {
     {
        max-width:1140px;
        margin: auto;
    }
  
    
}*/
